<div class="navbar navbar-light navbar-expand bg-white shadow topbar static-top" >
    <div class="container-fluid menu1" ><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav flex-nowrap ml-auto"> 
            <li class="nav-item dropdown no-arrow mx-1">
                <div class="nav-item dropdown no-arrow">
                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                <button class="dropdown-toggle nav-link" style="border: none; background: none;"" id="myBtn" onclick="open()"><i class="fas fa-envelope fa-fw text-gray-500"></i> </button> 
            </li>
        </div>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-500 small"><%=data.first_name%> <%=data.last_name%></span><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-500"></i></a>
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                        <a class="dropdown-item" href="/doctor_profile/<%= data.id %>"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;My Profile</a>
                        <a class="dropdown-item" href="/doctor_profile/doctor_settings/<%= data.id %>"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                        <a class="dropdown-item" href="/doctor_profile/doctor_future_appointments/<%= data.id %>"><i class="fa fa-clock-o mr-2 text-gray-400"></i>&nbsp;Future Appointments</a>
                        <a class="dropdown-item" href="/doctor_profile/doctor_appointment_summary/<%= data.id %>"><i class="fa fa-book mr-2 text-gray-400"></i>&nbsp;Appointment Summary</a>
                        <a class="dropdown-item" href="/doctor_profile/doctor_Review/<%= data.id %>"><i class="fa fa-comments mr-2 text-gray-400"></i>&nbsp; My Review</a>
                        <a class="dropdown-item" href="#General_Rating"><i class="fa fa-heart mr-2 text-gray-400"></i>&nbsp;My Rating</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

  <!-- The Modal -->
  <div id="myModal" class="modal_message">
    <!-- Modal content -->
    <div class="modal-content_message">
        <a href="javascript:void(0)" id="close" class="closebtn close_model">&times;</a>
        <form method="POST">
            <br><br>
            <h1>Send messsage to Doctor</h1> <br>
    
            <div class="form-group">
                <label class="col-sm-2" for="inputSubject" name="subject"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Subject</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="inputBody" name="message"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Message</label>
                <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
            </div>

            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-default pull-left btn-danger close_model" data-dismiss="modal">Cancel</button> 
                <button type="submit" id="send" class="btn btn-primary">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
            </div>
    
        </form>
    </div>
</div>

<script src="../views/profiles_js.js"></script>

