<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>forum main - JSAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <%- include('../../partials/header'); %>
        <div class="container">
            <h1 class="mb-4">Question Title : <span style="color: black;">
                    <%= question.topic %>
            </h1></span>
            <a href="/forum/<%= subForumSlug %>/<%= question._id %>/new_comment" class="btn btn-success">Post New
                Comment</a>
            <% if (comments.length !=0) { %>
                <% comments.forEach(comment=> { %>
                    <% if (comment.length!=0) { %>
                        <div class="card bg-light mt-4">
                            <div class="card-header">
                                <h3 style="color: black;"><%= comment.comment_body %></h3>
                            </div>
                                <div class="card-body">
                                    Created At: <span style="color: black;">
                                        <%= comment.date %>
                                    </span>
                                    <br>
                                    asked by: <span style="color: black;">
                                        <%= comment.commented_by %>
                                    </span>
                                    <br>
                                
                                <% if (userID==comment.commented_by_id || userRole=='admin' ) { %>
                                    <a href="/forum/<%=subForumSlug%>/<%=question.id%>/edit/<%= comment.id %>"
                                        class="btn btn-info">Edit</a>
                                    <% } %>
                                        <% if (userRole !='patient' ) { %>
                                            <form action="/forum/<%=subForumSlug%>/<%= question.id %>/<%=comment.id%>?_method=DELETE"
                                                method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                <% } %>
                                            </form>
                            </div>
                            </div>
                        <% } %>

                            <% }) %>
                                <% } %>
        </div>
        <center><a href="/forum/<%=subForumSlug%>">← Back to previous page</a></center> 
        <%- include('../../partials/footer'); %>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/chart.min.js"></script>
            <script src="/assets/js/bs-init.js"></script>
            <script src="/assets/js/custom.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/smoothscroll.js"></script>
            <script src="/assets/js/theme.js"></script>
</body>

</html>