<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Admin Panel - JSAS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/FontAwesome.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="page-top">
  <%- include('partials/header'); %>
    <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">
          <div class="container-fluid">
            <div class="card shadow">
              <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">All integral User Data</p>
              </div>
              <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                  <table class="table my-0" id="dataTable">
                    <thead>
                      <tr>
                        <th>S.N</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Role</th>
                        <th>Clinic</th>
                        <th>License ID</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(users.length!=0){users.forEach(function(data, index){ %>
                        <tr>
                          <td>
                            <%=index+1 %>
                          </td>
                          <td>
                            <%=data.first_name %>
                          </td>
                          <td>
                            <%=data.last_name %>
                          </td>
                          <td>
                            <%=data.email %>
                          </td>
                          <td>
                            <%=data.role %>
                          </td>
                          <td>
                            <%=data.clinic %>
                          </td>
                          <td>
                            <%=data.medical_license_id %>
                          </td>
                          <td>
                            <%=data.status %>
                          </td>
                          <td>
                            <form action="/admin_interface/<%= data.id %>" method="POST">
                              <input type="submit" value="Edit">
                            </form>
                          </td>
                          <td>
                            <form action="/admin_interface/delete/<%= data.id %>" method="POST">
                              <input type="submit" value="Delete">
                            </form>
                          </td>
                        </tr>
                        <% }) %>
                          <% } else{ %>
                            <tr>
                              <td colspan="7">No Data Found</td>
                            </tr>
                            <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="container-fluid">
            <div class="card shadow">
              <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Doctor Validation</p>
              </div>
              <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                  <table class="table my-0" id="dataTable">
                    <thead>
                      <tr>
                        <th>S.N</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>License ID</th>
                        <th>Approved?</th>
                        <th>Approve</th>
                      </tr>
                      <% if(users.length!=0){users.forEach(function(data, index){ %>
                        <% if(data.role=='doctor' && data.status=='Waiting for Admin Approval' ) { %>
                          <tr>
                            <td contenteditable='true'>
                              <%=index+1 %>
                            </td>
                            <td>
                              <%=data.first_name %>
                            </td>
                            <td>
                              <%=data.last_name %>
                            </td>
                            <td>
                              <%=data.medical_license_id %>
                            </td>
                            <td>
                              <%=data.status %>
                            </td>
                            <td>
                              <form action="/admin_interface/approve/<%= data.id %>" method="POST">
                                <input type="submit" value="Approve">
                              </form>
                            </td>
                          </tr>
                          <% } %>
                            <% }) %>
                              <% } else{ %>
                                <tr>
                                  <td colspan="7">No Data Found</td>
                                </tr>
                                <% } %>
                                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <%- include('partials/footer'); %>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
      <script src="/assets/js/chart.min.js"></script>
      <script src="/assets/js/bs-init.js"></script>
      <script src="/assets/js/custom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/smoothscroll.js"></script>
      <script src="/assets/js/theme.js"></script>
</body>

</html>