<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<title>Appointment Management</title>

		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
		<link
			href="https://fonts.googleapis.com/css?family=BenchNine:300,400,700"
			rel="stylesheet"
			type="text/css"
		/>
		<link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
		<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
		<link
			rel="stylesheet"
			href="/assets/fonts/fontawesome5-overrides.min.css"
		/>
		<link rel="stylesheet" href="/assets/bootstrap/css/profile.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/css/profile.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
		/>
	</head>

	<body id="page-top">
		<div id="wrapper">
			<div class="d-flex flex-column" id="content-wrapper">
				<%- include('partials/header'); %>

				<div id="content">
					<div class="container-fluid">
						<h3 class="text-dark mb-4"></h3>
						<div class="card shadow">
							<div class="card-header py-3">
								<h3 class="text-primary m-0 font-weight-bold">
									Make an Appointment
								</h3>
							</div>
							<div class="card-body">
								<h1></h1>
								<div class="row">
									<div class="col-md-6">
										<% if (doctor_details.working_days == undefined || doctor_details.start_time == undefined) {%>
											<p>It is not possible to make an appointment with this doctor</p>
										  <% } else{ %>
											<p>Please note, Doctor <%=data.first_name%>
											  works <%=doctor_details.working_days%>,
											  <%=doctor_details.start_time%> - <%=doctor_details.end_time%>
											</p>
										  <% } %>
		
										<input type="text" name="datetimes" />
										<p id="working_days"><%=doctor_details.working_days%></p>
										<p id="start_time"><%=doctor_details.start_time%></p>
										<p id="end_time"><%=doctor_details.end_time%></p>
									</div>
									<div class="col-md-6"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- footer starts here -->
				<%- include('partials/footer'); %>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"
				><i class="fas fa-angle-up"></i
			></a>
		</div>

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/chart.min.js"></script>
		<script src="/assets/js/bs-init.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
		<script src="/assets/js/theme.js"></script>

		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
		></script>

		<script>
			let dic = {
				'Sunday': 0, 
				'Monday': 1,
				'Tuesday': 2, 
				'Wednesday': 3,
				'Thursday': 4,
				'Friday': 5,
				'Saturday': 6
			}
			let working_days = document.getElementById("working_days").textContent;
			let list = working_days.split(',')
			var date = new Date();
			var currentMonth = date.getMonth();
			var currentDate = date.getDate();
			var currentYear = date.getFullYear();
			$(function() {
				$('input[name="datetimes"]').daterangepicker({
				minDate: new Date(currentYear, currentMonth, currentDate),
				maxDate: new Date(currentYear + 5,12,31),
				timePicker: true,
				singleDatePicker: true,
				isInvalidDate: function(date) {
					if(list){
					return ( date.day() == dic[list[0]] ||
							date.day() == dic[list[1]] ||
							date.day() == dic[list[2]] ||
							date.day() == dic[list[3]] ||
							date.day() == dic[list[4]] ||
							date.day() == dic[list[5]] ||
							date.day() == dic[list[6]]
							);
					}
				},

				locale: {
					format: ' YYYY/M/DD  hh:mm A'
				},

				})

		
			})

		</script>
	</body>
</html>
