<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Doctor's Profile</title>


    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/profile.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <%- include('partials/header'); %>
                <div id="content">
                    <% if (data.id == userID || userRole == 'admin') {%>
                        <%- include('doctor_partials/header'); %>
                        <%}%>
                            <div class="container-fluid">
                                <div class="card shadow mb-4">
                                    <div class="row mr-8">
                                        <div class="col-lg-6">
                                            <div class="card mb-2">
                                                <div class="card-header py-3">
                                                    <h6 class="text-primary font-weight-bold m-1">Profile</h6>
                                                </div>
                                                <table class="mr-5" id="t01">
                                                    <tr>
                                                        <th>&nbsp;&nbsp;Firstname:</th>
                                                        <td>
                                                            <%=data.first_name%> <br>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;Lastname:</th>
                                                        <td>
                                                            <%=data.last_name%> <br>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;License number:</th>
                                                        <td>
                                                            <%=data.medical_license_id%> <br>
                                                        </td>

                                                    </tr>


                                                    <tr>
                                                        <th>&nbsp;&nbsp;Email:</th>
                                                        <td>
                                                            <%=data.email%><br>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <th>&nbsp;&nbsp;HMO's I work:</th>
                                                        <td>
                                                            <%=data.doctor_related_clinics%> <br>

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;Work Days:</th>
                                                        <td>
                                                            <%=data.start_day%>-<%=data.end_day%> <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>&nbsp;&nbsp;Reception hours:</th>
                                                        <td>
                                                            <%=data.start_time%>-<%=data.end_time%> <br>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;Clinic address:</th>
                                                        <td>
                                                            <%=data.clinic_address%> <br>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;Languages:</th>
                                                        <td>
                                                            <%=data.spoken_languages%> <br>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <th>&nbsp;&nbsp;Phone number:</th>
                                                        <td>
                                                            <%=data.clinic_phone_number%><br>
                                                        </td>

                                                    </tr>
                                                </table>
                                                <br>
                                            </div>

                                            <div class="card shadow mb-4" id="General_Rating">
                                                <div class="card-header py-3">
                                                    <h6 class="text-primary font-weight-bold m-1">General Rating</h6>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star "></span>
                                                </div>

                                            </div>
                                           
                                            
                                        </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col" >
                                                        <div class="card shadow mb-3" >
                                                            <div class="card-header py-3" >
                                                                    <h6 class="text-primary font-weight-bold m-1">About Me</h6>
                                                                </div>
                                                                <div class="card-body mb-4">
                                                                    <p> <%=data.bio%> </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                </div>

                               
                                                           
                                                            
                            </div>
                </div>

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Reviews</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"><%= data.first_name %>&nbsp;<%= data.last_name %></p>
                        </div>
                        <div class="card-body">
                            
                            
                            <h1>Page in process</h1>
                            <div class="row">
                               
                                <div class="col-md-6">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer starts here -->
                <%- include('partials/footer'); %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>

</body>

</html>