<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Doctor's Profile</title>


    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/profile.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">

        <%- include('partials/header'); %>

            <div id="content">
 
                <%- include('doctor_partials/header'); %>

                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="text-primary m-0 font-weight-bold">Review - <%= data.first_name %>&nbsp;<%= data.last_name %> general rating </h4>
                            <br>
                               
                            
                                <% for( let j = 0; j < average_rating; ++j) {%>
                                    <span class="fa fa-star checked"></span>
                                <% } %>
                                <% for( let j = average_rating; j < 5; ++j) {%>
                                    <span class="fa fa-star "></span>
                                <% } %>
                            </p>
                        </div>
                        <div class="card-body">
                            
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Reviewer Name</th>
                                        <th>Subject</th>
                                        <th>Review</th>
                                        <th>Rating</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>


                                <tbody>

                                    <% for( let i = 0; i < review_details.length; ++i) { %>
                                    

                                        <tr>
                                            <td>
                                                <%=review_details[i].reviewer_name %>
                                            </td>

                                            <td>
                                                <%=review_details[i].subject %>
                                            </td>

                                            <td>
                                                 <%=review_details[i].review %>
                                            </td>

                                            <td>
                                                <% for( let j = 0; j < review_details[i].rating; ++j) {%>
                                                    <span class="fa fa-star checked"></span>
                                                <% } %>
                                                <% for( let j = review_details[i].rating; j < 5; ++j) {%>
                                                    <span class="fa fa-star "></span>
                                                <% } %>
                                              
                                           </td>

                                           <td>
                                                <%let date = new Date(review_details[i].date)%>
                                                <%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>
                                            </td>
                                            
                                    
                                        </tr>
                                    <% } %>
                             
                                </tbody>

                            </table>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- footer starts here -->
            <%- include('partials/footer'); %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>

</body>

</html>