<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">

            <%- include('partials/header'); %>
                <div id="content">
                    <% if (data.id==userID || userRole=='admin') {%>
                        <%- include('patient_partials/header'); %>
                        <% } %>
                            <div class="container-fluid">
                                <div class="card shadow mb-4">
                                    <div class="row mr-8">
                                        <div class="col-lg-12">
                                            <div class="card shadow mb-2">
                                                <div class="card-header">
                                                    <h5 class="text-primary font-weight-bold m-0">Profile</h5>
                                                </div>
                                                    <table id="t01">
                                                        <tr>
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;Firstname:</th>
                                                            <td>
                                                                <%= data.first_name %>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;Lastname:</th>
                                                            <td>
                                                                <%= data.last_name %>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;Email:</th>
                                                            <td>
                                                                <%= data.email %>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;Clinic:</th>
                                                            <td>
                                                                <%= data.clinic %>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                             </div>
                                 
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card shadow mb-2" id="User_Settings">
                                                    <div class="card-header">
                                                        <h5 class="text-primary m-0 font-weight-bold">Future Appointments
                                                            <button id="future_but" class="btn btn-primary" onclick="toggle_future_appointments();" style="float:right;">Close</button>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body" id="future">
                                                        <table class="table my-0" id="dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Doctor Name</th>
                                                                    <th>Subject</th>
                                                                    <th>date</th>
                                                                    <th>Start Appointment</th>
                                                                    <th>Type of Appointment</th>
                                                                    <th>Clinic Address</th>
                                                                </tr>
                                                            </thead>
                                                            
                                                            <%if(appointment_details != []) { %>

                                                                <% let size = 5
                                                                if(appointment_details.length < 5){
                                                                    size = appointment_details.length
                                                                } %>
                                                            
                                                                <% for(let i = 0; i < size && i < appointment_details.length; ++i){ %>
                                                                    
                                                                        <%if(new Date(appointment_details[i].date) > new Date()){ %>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <%=user_doctor[i].first_name%>
                                                                                        &nbsp;
                                                                                        <%=user_doctor[i].last_name%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=appointment_details[i].appointment_subject%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%let date = new Date(appointment_details[i].date)%>
                                                                                        <%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=appointment_details[i].start_time%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=appointment_details[i].type%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=doctor_appintment_details[i].clinic_address.city%>
                                                                                        &nbsp;
                                                                                        <%=doctor_appintment_details[i].clinic_address.street%>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        <% } else { %>
                                                                            <% ++size %>
                                                                        <% } %>
                                                                <% } %>
                                                            
                                                            <% } else { %>
                                                                <h1>You don't have Future Appointments</h1>
                                                            <% } %>
                        
                                                        </table>
                                                        <a class="dropdown-item text-center small text-gray-500" style="border: 1px double #3a9ecb;" href="/patient_profile/patient_future_appointments/<%= data.id %>">Show All Future Appointments</a>
                                                        
                                                    </div>
                                                </div>
                                                <div class="card shadow">
                                                    <div class="card-header py-3">
                                                    <h5 class="text-primary font-weight-bold m-0">Previous Appointments
                                                        <button id="previous_but" class="btn btn-primary" onclick="togglediv();" style="float:right;">Close</button>
                                                    </h5>
                                                    </div>
                                                    <div class="card-body" id="previous">
                                                        <table class="table my-0" id="dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Doctor Name</th>
                                                                    <th>Subject</th>
                                                                    <th>date</th>
                                                                    <th>Start Appointment</th>
                                                                    <th>end Appointment</th>
                                                                    <th>Summary</th>
                                                                </tr>
                                                            </thead>
                                                            <%if(appointment_details != []) { %>
                                                                
                                                                <% let size = 5
                                                                if(appointment_details.length < 5){
                                                                    size = appointment_details.length
                                                                } %>
                                                            
                                                                <% for(let i = 0; i < size && i < appointment_details.length; ++i){ %>
                                                              
                                                                    <%if( new Date(appointment_details[i].date) < new Date()){ %>
                                                                       
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <%=user_doctor[i].first_name%>
                                                                                    &nbsp;
                                                                                    <%=user_doctor[i].last_name%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=appointment_details[i].appointment_subject%>
                                                                                </td>
                                                                                <td>
                                                                                    <%let date = new Date(appointment_details[i].date)%>
                                                                                    <%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=appointment_details[i].start_time%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=appointment_details[i].end_time%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=appointment_details[i].summary%>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    <% } else { %>
                                                                        <% ++size %>
                                                                    <% } %>
                                                                <% } %>
                                                            
                                                            <% } else { %>
                                                                <h1>You don't have Future Appointments</h1>
                                                            <% } %>
                                                            
                                                        </table>
                                                        <a class="dropdown-item text-center small text-gray-500" style="border: 1px double #3a9ecb; " href="/patient_profile/patient_previous_appointments/<%= data.id %>">Show All Previous Appointments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
                                            <!-- footer starts here -->
                                            <%- include('partials/footer'); %>
                </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i
                        class="fas fa-angle-up"></i></a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="../js/profiles_js.js"></script>

</body>

</html>