<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Future Appointments - JSAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <%- include('partials/header'); %>
            <div id="content">
                <%- include('patient_partials/header'); %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Future Appointments</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"><%= data.first_name %>&nbsp;<%= data.last_name %></p>
                        </div>
                        <div class="card-body">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Subject</th>
                                        <th>date</th>
                                        <th>Start Apoointment</th>
                                        <th>Type of Apoointment</th>
                                        <th>Clinic Address</th>
                                    </tr>
                                </thead>
                                <%if(appointment_details != []) { %>
                                

                                    <% for(let i = 0; i < appointment_details.length; ++i){ %>
                                        
                                            <%if(appointment_details[i].end_time == null){ %>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <%=user_doctor[i].first_name%>
                                                            &nbsp;
                                                            <%=user_doctor[i].last_name%>
                                                        </td>
                                                        <td>
                                                            <%=appointment_details[i].appointment_subject%>
                                                        </td>
                                                        <td>
                                                            <%let date = new Date(appointment_details[i].date)%>
                                                            <%=date.getDate()%>/<%=date.getMonth()+1%>/<%=date.getFullYear()%>
                                                        </td>
                                                        <td>
                                                            <%=appointment_details[i].start_time%>
                                                        </td>
                                                        <td>
                                                            <%=appointment_details[i].type%>
                                                        </td>
                                                        <td>
                                                            <%=doctor_details[i].clinic_address.city%>
                                                            &nbsp;
                                                            <%=doctor_details[i].clinic_address.street%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            <% } %>
                                    <% } %>
                                    
                                    <% } else { %>
                                        <h1>You don't have Future Appointments</h1>
                                    <% } %>

                            </table>
                            
 
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer starts here -->
            <%- include('partials/footer'); %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>

</body>

</html>