<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found - JSAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">


</head>

<body class="bg-gradient-primary" style="background: #fff">
    <%- include('partials/header'); %>
        <div class="container-fluid">
            <div class="text-center mt-5">
                <div class="error mx-auto" data-text= "<%=alert['statusCode']%>">
                    <p class="m-0"><%=alert['statusCode']%></p>
                </div>
                <p class="text-dark mb-5 lead"><%=alert['Message']%></p>
                <p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p><a
                    class="text-black-50 mb-0" href="/" ">← Back to Home</a>
                    </div>
                </div>
            </div>
            <%- include('partials/footer'); %>
                    <script src=" /assets/js/jquery.min.js"></script>
                    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
                    <script src="/assets/js/chart.min.js"></script>
                    <script src="/assets/js/bs-init.js"></script>
                    <script src="/assets/js/custom.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
                    <script src="/assets/js/jquery.min.js"></script>
                    <script src="/assets/js/smoothscroll.js"></script>
                    <script src="/assets/js/theme.js"></script>
</body>

</html>