<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search - JSAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="page-top">
    <%- include('partials/header'); %>
        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 static-top">
                        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                                id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                            <form action="/search/"
                                class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search d-inline w-100">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control form-control-user" data-trigger="" name="sort_by">
                                            <option value="" disabled="" selected="">Sort By</option>
                                            <option value="first_name">First Name</option>
                                            <option value="last_name">Last Name</option>
                                            <option value="city">City</option>
                                            <option value="specialization">Specialization</option>
                                            <option value="working_days">Working days</option>
                                            <option value="spoken_languages">Spoken Language</option>
                                            <option value="doctor_related_clinics">Related Clinics</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control form-control-user" data-trigger="" name="sort_order">
                                            <option value="ascending">Ascending</option>
                                            <option value="descending">Descending</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <input class="bg-light form-control border-0 small" type="search" size="200"
                                            placeholder="Search for doctor by last name" name="term">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="submit">
                                                <i class="fas fa-search">

                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control form-control-user" data-trigger="" id="filter_order">
                                            <option value="" disabled="" selected="">Filter By</option>
                                            <option value="0">First Name</option>
                                            <option value="1">Last Name</option>
                                            <option value="2">City</option>
                                            <option value="3">Specialization</option>
                                            <option value="4">Working days</option>
                                            <option value="5">Spoken Language</option>
                                            <option value="6">Related Clinics</option>
                                        </select>
                                    </div>
                                <div class="input-group">
                                    <input class="bg-light form-control border-0 small" type="text" size="200" id="filter"
                                        placeholder="filter your serach results" onkeyup="filter_results(document.getElementById('filter_order').value)" onkeypress="return event.keyCode != 13;">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Search Results</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                    aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>City</th>
                                                <th>Specilization</th>
                                                <th>Work Days</th>
                                                <th>Spoken Languages</th>
                                                <th>Related Clinics</th>
                                                <th>Make an appointment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(doctors.length!=0){doctors.forEach(function(data, index){ %>
                                                <tr>
                                                    <td>
                                                        <%=data.first_name %>
                                                    </td>
                                                    <td>
                                                        <%=data.last_name %>
                                                    </td>
                                                    <td>
                                                        <%=data.city %>
                                                    </td>
                                                    <td>
                                                        <%=data.specialization %>
                                                    </td>
                                                    <td>
                                                        <%=data.working_days %>
                                                    </td>
                                                    <td>
                                                        <%=data.spoken_languages %>
                                                    </td>
                                                    <td>
                                                        <%=data.doctor_related_clinics %>
                                                    </td>
                                                    <td>
                                                        <a href="/appointment_management/<%=data._id%>"> Make an appointment </a>
                                                    </td>
                                                    <% }) %>
                                                        <% } %>



                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); %>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/chart.min.js"></script>
            <script src="/assets/js/bs-init.js"></script>
            <script src="/assets/js/custom.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/smoothscroll.js"></script>
            <script src="/assets/js/theme.js"></script>
            <script src="/js/filter_results.js"></script>

</body>

</html>