<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search - JSAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<body id="page-top">
    <%- include('partials/header'); %>
        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 static-top">
                        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                                id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                            <form action="/search/"
                                class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search d-inline w-100">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="bg-light form-control border-0 small" type="search" size="200"
                                            placeholder="search for a doctor" name="term">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="submit">
                                                <i class="fas fa-search">

                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>       
                            </form>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Search Results</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                    aria-describedby="dataTable_info">
                                    <table id="sortTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>City</th>
                                                <th>Specilization</th>
                                                <th>Work Days</th>
                                                <th>Spoken Languages</th>
                                                <th>Related Clinics</th>
                                                <th>Make an appointment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(doctors.length!=0){doctors.forEach(function(data, index){ %>
                                                <tr>
                                                    <td>
                                                        <%=data.first_name %>
                                                    </td>
                                                    <td>
                                                        <%=data.last_name %>
                                                    </td>
                                                    <td>
                                                        <%=data.city %>
                                                    </td>
                                                    <td>
                                                        <%=data.specialization %>
                                                    </td>
                                                    <td>
                                                        <%=data.working_days %>
                                                    </td>
                                                    <td>
                                                        <%=data.spoken_languages %>
                                                    </td>
                                                    <td>
                                                        <%=data.doctor_related_clinics %>
                                                    </td>
                                                    <td>
                                                        <a href="/appointment_management/<%=data._id%>"> Make an appointment </a>
                                                    </td>
                                                    <% }) %>
                                                        <% } %>



                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); %>
            <script>
                $('#sortTable').DataTable({
                    columnDefs: [{
                    orderable: false,
                    targets: 7
                    }],
                    "language": {
                    "search": "Filter records:"
                    }
                });
                </script>

</body>

</html>